
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dinosaurs {
    position: absolute;
    border: 1px dashed #efc043;
    bottom: 0;
    width: 6vmax;
    height: 8vmax;
    z-index: 20;
    visibility: hidden;
}

.diplodocus {
    left: 3vmax;
}

.pterosaur{
    left: 10vmax;
}

.egg{
    position: absolute;
    border: 1px dashed #efc043;
    bottom: 0;
    width: 6vmax;
    height: 8vmax;
    z-index: 20;
    visibility: hidden;
    left: 17vmax;
}

.can-never-be-t-rex{
    left: 24vmax;

}

.triceratops{
    left: 32vmax;
}

